/AppenderFinalizer.class
/DefaultLF5Configurator.class
/LF5Appender.class
/Log4JLogRecord.class
/LogLevel.class
/LogLevelFormatException.class
/LogRecord.class
/LogRecordFilter.class
/PassingLogRecordFilter.class
/StartLogFactor5.class
